In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('simulated_tasks.csv')

In [13]:
df[df.habit_id == 'Read Book']

     habit_id  checked        date
52  Read Book        1  2021-10-18
53  Read Book        1  2021-10-28
54  Read Book        1  2021-11-05
55  Read Book        1  2021-11-20
56  Read Book        1  2021-11-28
57  Read Book        1  2021-11-29
58  Read Book        1  2021-12-06

In [14]:
df = df[df.habit_id == 'Read Book']

In [15]:
df.date = pd.to_datetime(df.date)

In [16]:
dates = df.date.tolist()

In [17]:
dates

[Timestamp('2021-10-18 00:00:00'),
 Timestamp('2021-10-28 00:00:00'),
 Timestamp('2021-11-05 00:00:00'),
 Timestamp('2021-11-20 00:00:00'),
 Timestamp('2021-11-28 00:00:00'),
 Timestamp('2021-11-29 00:00:00'),
 Timestamp('2021-12-06 00:00:00')]

In [18]:
acum = []
if len(dates) > 1:
    for i in range(1, len(dates)):
        # comprobar que el dia de hoy este en el rango de las anteriores semanas
        if dates[i].isocalendar().week - dates[i-1].isocalendar().week == 1:
            if i == 1:
                acum.append(dates[i-1])
                acum.append(dates[i])
            else:
                acum.append(dates[i])

        else:
            acum = [dates[i]]
else:
    acum = dates

In [19]:
acum

[Timestamp('2021-11-20 00:00:00'),
 Timestamp('2021-11-28 00:00:00'),
 Timestamp('2021-11-29 00:00:00'),
 Timestamp('2021-12-06 00:00:00')]

In [20]:
df

  habit_id  checked        date
0     Yoga        0  2021-10-18
1     Yoga        1  2021-10-27
2     Yoga        1  2021-11-04
3     Yoga        1  2021-11-13
4     Yoga        1  2021-11-15
5     Yoga        1  2021-11-24
6     Yoga        1  2021-12-05
7     Yoga        1  2021-12-11

In [19]:
df[df.habit_id == 'Meditation']

Empty DataFrame
Columns: [habit_id, checked, date]
Index: []